<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <meta charset="utf-8">
    <title>XSS Demo</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.js"></script>
  </head>

  <body>

    <!-- Header -->
    <header>
      <h1>XSS Demo</h1>
      <p>Read, search and post comments</p>
    </header>

    <!-- Search form -->
    <form method="GET">
      <input type="text" name="q" placeholder="Search query" autocomplete="off" />
      <input type="submit" value="Filter comments" />
    </form>

    <!-- Comments -->
    {% if not search_query %}
      <h3>Showing all comments:</h3>
    {% else %}
      <h3>Showing comments containing "{{ search_query }}":</h3>
    {% endif %}

    {% for comment in comments %}
      <div>
        <p>{{ comment }}</p>
      </div>
    {% endfor %}
    <input type="hidden" accesskey='X' onclick="alert('XSS')"/>
    <script>
   $(document).ready(function(){
    $('form:first').submit(function(){
      var query = new URLSearchParams(document.location.search).get('q');
      var script_elemt = document.getElementsByTagName('script')[1];
      var new_para = document.createElement('p');
      new_para.innerHTML = query;
      script_elemt.insertAdjacentElement('afterend', new_para);
    });
   });
    </script>
    <script>
      const head = document.querySelector("head");
      var search_term = new URLSearchParams(document.location.search).get("q");
      var base = document.createElement("base");
      base.setAttribute("href", search_term);
      head.appendChild(base)
    </script>
    <!-- Write form -->
    <form action="/" method="POST">
      <input type="text" name="comment" 
             placeholder="Comment" autocomplete="off" />
      <input type="submit" value="Submit new comment" />
    </form>

  </body>
</html>
{% endautoescape %}
